In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, model_selection, svm

In [2]:
df=pd.read_csv("Fertilizer Prediction.csv")

In [3]:
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Temparature      99 non-null     int64
 1   Humidity         99 non-null     int64
 2   Moisture         99 non-null     int64
 3   Soil Type        99 non-null     object
 4   Crop Type        99 non-null     object
 5   Nitrogen         99 non-null     int64
 6   Potassium        99 non-null     int64
 7   Phosphorous      99 non-null     int64
 8   Fertilizer Name  99 non-null     object
dtypes: int64(6), object(3)
memory usage: 7.1+ KB

In [5]:
df.isna().sum().sum()

0

In [6]:
df["Soil Type"].unique()

array(['Sandy', 'Loamy', 'Black', 'Red', 'Clayey'], dtype=object)

In [7]:
df["Soil Type"].value_counts()

Loamy     21
Sandy     20
Clayey    20
Black     19
Red       19
Name: Soil Type, dtype: int64

In [8]:
a=[x for x in range(7)]
soil_dict=dict(zip(df["Soil Type"].unique(),a))

In [9]:
soil_dict

{'Sandy': 0, 'Loamy': 1, 'Black': 2, 'Red': 3, 'Clayey': 4}

In [10]:
df["Soil Type"]=df["Soil Type"].map(soil_dict)

In [11]:
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,0,Maize,37,0,0,Urea
1,29,52,45,1,Sugarcane,12,0,36,DAP
2,34,65,62,2,Cotton,7,9,30,14-35-14
3,32,62,34,3,Tobacco,22,0,20,28-28
4,28,54,46,4,Paddy,35,0,0,Urea

In [12]:
a=[x for x in range(100)]
crop_dict=dict(zip(df["Crop Type"].unique(),a))
a=[x for x in range(100)]
fertilizer_dict=dict(zip(df["Fertilizer Name"].unique(),a))

In [13]:
fertlizer=list(df["Fertilizer Name"].unique())
fertlizer

['Urea', 'DAP', '14-35-14', '28-28', '17-17-17', '20-20', '10-26-26']

In [14]:
df["Crop Type"]=df["Crop Type"].map(crop_dict)
df["Fertilizer Name"]=df["Fertilizer Name"].map(fertilizer_dict)

In [15]:
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,0,0,37,0,0,0
1,29,52,45,1,1,12,0,36,1
2,34,65,62,2,2,7,9,30,2
3,32,62,34,3,3,22,0,20,3
4,28,54,46,4,4,35,0,0,0

In [16]:
X=np.array(df.drop(["Fertilizer Name"],1))
y=np.array(df["Fertilizer Name"])

C:\Users\Asus\AppData\Local\Temp\ipykernel_23348\2272283545.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X=np.array(df.drop(["Fertilizer Name"],1))

In [17]:
print(X.shape)
print(y.shape)

(99, 8)
(99,)

In [22]:
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.2)

In [23]:
cf=svm.SVC(kernel="linear")

In [24]:
cf.fit(X_train,y_train)

import pickle
with open ("fertilizer.pickle","wb") as f:
    pickle.dump(cf,f)




acc=cf.score(X_test,y_test)

In [25]:
acc

1.0

In [26]:
import pickle
with open("fertilizer.pickle","rb") as test:
    cf=pickle.load(test)

col=["Temparature", "Humidity", "Moisture", "Soil Type", "Crop Type", "Nitrogen", "Potassium", "Phosphorous"]
for index,name in enumerate(fertlizer):
    print(index, "-->", name)
test=[36,52,38,0,0,37,0,0]
# for i in range(7):
#         s=input(f"what is the {col[i]} = ")
#         test.append(s)
        
        
        
example_measures=np.array([test])
# example_measures=example_measures.reshape(len(example_measures),1)
predict=cf.predict(example_measures)
print(f"Your prediction is {fertlizer[predict[0]]}")
predict

0 --> Urea
1 --> DAP
2 --> 14-35-14
3 --> 28-28
4 --> 17-17-17
5 --> 20-20
6 --> 10-26-26
Your prediction is Urea

array([0], dtype=int64)